<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
2         <servlet-name>helloWorld</servlet-name>
3         <servlet-class>testServetForHttp.TomcatServlet</servlet-class>
4     </servlet>
5 
6     <servlet-mapping>
7         <servlet-name>helloWorld</servlet-name>
8         <url-pattern>/hello</url-pattern>
9     </servlet-mapping>

	<servlet-mapping>
7         <servlet-name>helloWorld</servlet-name>
8         <url-pattern>/helloTest</url-pattern>
9     </servlet-mapping>
</web-app>